In [1]:
from read_write import *
from filter_tests import *
from validate_trace import *

In [2]:
valid_manual_tests, invalid_manual_tests = check_manual("../data/ER2228014 v51 ATT1 Manual As-Runs.docx")

In [3]:
valid_manual_tests

                                             test_name  status
0    PRD US13044 SRS TC12480 TC12574 Verify Subscri...  Passed
1    PRD US13044 SRS TC12480 TC12575 Verify Subscri...  Passed
2    PRD US13044 SRS TC12480 TC12576 Verify Subscri...  Passed
3    PRD US13044 SRS TC12480 TC12580 Verify Subscri...  Passed
4                                   Toggle off - F5890  Passed
..                                                 ...     ...
130        EU Toggle and Configuration Regression Test  Passed
131  UC US45400 MaskSelector tablet app integration...  Passed
132  UC US45400 MaskSelector tablet app integration...  Passed
133  UC US45400 MaskSelector tablet app integration...  Passed
134                                  F5056 Toggle Test  Passed

[135 rows x 2 columns]

In [4]:
invalid_manual_tests

Empty DataFrame
Columns: [test_name, status]
Index: []

In [5]:
len(invalid_manual_tests)

0

In [6]:
folder_path = "../data/RestApiTests"
valid_api, invalid_api = check_rest_api(folder_path)

Loading api test files from ../data/RestApiTests

In [7]:
valid_api

,test_name,status,rc,name,file_name
0,TC6281 com.philips.sapphire.systemintegrationt...,passed,RC1,Akshitha,..\data\RestApiTests\RC1\Akshitha\20200924T110...
1,TC6281 com.philips.sapphire.systemintegrationt...,passed,RC1,Akshitha,..\data\RestApiTests\RC1\Akshitha\20200924T110...
2,TC5871 com.philips.sapphire.systemintegrationt...,passed,RC1,Akshitha,..\data\RestApiTests\RC1\Akshitha\20200924T110...
3,TC6282 com.philips.sapphire.systemintegrationt...,passed,RC1,Akshitha,..\data\RestApiTests\RC1\Akshitha\20200924T110...
4,TC5867 TC5868 TC5869 TC5872 TC5873 TC5874 TC58...,passed,RC1,Akshitha,..\data\RestApiTests\RC1\Akshitha\20200924T110...
...,...,...,...,...,...
12739,TC460 TC464 TC1126 TC1189 TC2149 com.philips.s...,passed,RC4,Mardis,..\data\RestApiTests\RC4\Mardis\Mardis\2020100...
12740,TC460 TC464 TC1126 TC1189 TC2148 com.philips.s...,passed,RC4,Mardis,..\data\RestApiTests\RC4\Mardis\Mardis\2020100...
12741,TC460 TC464 TC1126 TC1189 TC2146 com.philips.s...,passed,RC4,Mardis,..\data\RestApiTests\RC4\Mardis\Mardis\2020100...
12742,TC237 TC2069 TC2542 com.philips.sapphire.syste...,passed,RC4,Mardis,..\data\RestApiTests\RC4\Mardis\Mardis\2020100...
12743,TC2331 com.philips.sapphire.systemintegrationt...,passed,RC4,Mardis,..\data\RestApiTests\RC4\Mardis\Mardis\2020100...

In [8]:
invalid_api

,test_name,status,rc,name,file_name
245,com.philips.sapphire.systemintegrationtests.te...,skipped,RC1,Carlos,..\data\RestApiTests\RC1\Carlos\20200924T19501...
267,TC4154 com.philips.sapphire.systemintegrationt...,skipped,RC1,Carlos,..\data\RestApiTests\RC1\Carlos\20200924T19501...
283,TC2254 TC4154 com.philips.sapphire.systeminteg...,skipped,RC1,Carlos,..\data\RestApiTests\RC1\Carlos\20200924T19501...
399,Unknown massPatientSyncPerformanceTest,inconclusive,RC1,Subhash,..\data\RestApiTests\RC1\Subhash\testResults_2...
400,Unknown massPatientSyncPerformanceTest,inconclusive,RC1,Subhash,..\data\RestApiTests\RC1\Subhash\testResults_2...
...,...,...,...,...,...
9461,TC460 TC464 TC1126 TC1189 TC2148 com.philips.s...,skipped,RC3,Fischer,..\data\RestApiTests\RC3\Fischer\Fischer\20201...
9465,TC460 TC464 TC1126 TC1189 TC2143 com.philips.s...,skipped,RC3,Fischer,..\data\RestApiTests\RC3\Fischer\Fischer\20201...
9468,TC460 TC464 TC1126 TC1189 TC2146 com.philips.s...,skipped,RC3,Fischer,..\data\RestApiTests\RC3\Fischer\Fischer\20201...
9475,TC460 TC464 TC1126 TC1189 TC2147 com.philips.s...,skipped,RC3,Fischer,..\data\RestApiTests\RC3\Fischer\Fischer\20201...
9478,TC460 TC464 TC1126 TC1189 TC2151 com.philips.s...,skipped,RC3,Fischer,..\data\RestApiTests\RC3\Fischer\Fischer\20201...

In [9]:
valid_performance, invalid_performance = check_performance_tests("../data/PerformanceTestResultsByTC_2020_10_12.xlsx")

In [10]:
valid_performance

,TC(s) and Script name,PASS/FAIL,Notes
0,TC10051 patient record display,PASS,"Response time is right at SLA, however. Needs..."
1,TC10051 patient list display,PASS,None
2,TC10052 Business report,FAIL,"Viewing the report passes, export fails DE6069..."
3,TC10051 patient search display,PASS,None
4,TC10054 Waveform Report,PASS,PASS / Slightly high - needs to be investigate...
5,TC10054 Trilogy Report,PASS,None
6,TC10054 O2 Report,PASS,PASS / Slightly high - needs to be investigate...
7,TC10051 Document Upload,PASS,None
8,TC10051 Task List view,PASS,None
9,TC10053 SD Card Uploads,PASS,None
10,TC10054 Sleep Summary Report,FAIL,DE5602
11,TC10054 Sleep Detail Report,FAIL,DE5602

In [11]:
invalid_performance

Empty DataFrame
Columns: [TC(s) and Script name, PASS/FAIL, Notes]
Index: []

In [12]:
valid_component, invalid_component = check_component_tests("../data/1.33 MSGateway.docx")

In [13]:
valid_component

                                             test_name status
0    CARE-30043 â€“ Summary:testDeleteMaskSuggestions...   PASS
1    CARE-28230 â€“ Summary:testSearchPatientsWithGiv...   PASS
2    CARE-28231 â€“ Summary:testSearchPatientsWithGiv...   PASS
3                  CARE-30041 â€“ Summary:testGetPatient   PASS
4    CARE-28396 â€“ Summary:testSearchPatientsWithGiv...   PASS
..                                                 ...    ...
153  CARE-29978 â€“ Summary:getMaskCoefficients_inval...   PASS
154  CARE-29982 â€“ Summary:getMaskCoefficients_mask_...   PASS
155  CARE-29983 â€“ Summary:deleteMaskCoefficients_ma...   PASS
156  CARE-29984 â€“ Summary:upsertMaskCoefficients_us...   PASS
157  CARE-29985 â€“ Summary:upsertMaskCoefficients_in...   PASS

[158 rows x 2 columns]

In [14]:
invalid_component

Empty DataFrame
Columns: [test_name, status]
Index: []

In [17]:
trace = read_trace("../data/ER 2228015 v42 ATT1 Sapphire 1.32 Trace Matrix.xlsx", "CO")
prd_prefix = "US"
srs_prefix = "TC"

obs_srs_file_path = "../data/Obsolete SRS_Test Cases_11.16 pull.csv"
obs_srs=pd.read_csv(obs_srs_file_path)
obs_srs_list=obs_srs["Formatted ID"].unique()

active_prd = pd.read_excel("../data/1.33 PRD.xlsx")
active_prd_list = active_prd["ID"].unique()
active_prd_list = active_prd_list[~pd.isnull(active_prd_list)]

Loading CO from: ../data/ER 2228015 v42 ATT1 Sapphire 1.32 Trace Matrix.xlsx
Loading in worksheet titled: Care Orchestrator PRD / SRS Trace Matrix

In [18]:
prd_result, invalid_prd = check_prd_has_srs(trace, prd_prefix, srs_prefix)

In [19]:
prd_result

                        PRD  SRS ID
0                   US12380       9
1            US12380 US1659       1
2                  US12756Â       14
3                   US13044     136
4           US13044, US2978       1
..                      ...     ...
174  US9787, US9789, US3869       1
175                  US9788       2
176           US9788 US8651       2
177                  US9789      22
178                  US9790      13

[179 rows x 2 columns]

In [20]:
invalid_prd

Empty DataFrame
Columns: [PRD, SRS ID]
Index: []

In [21]:
check_prd_ref_by_srs_exists(trace, active_prd_list, prd_prefix, srs_prefix)

('Failed',
 {'US12380 US1659',
  'US12756\xa0',
  'US13044, US2978',
  'US13044,US3869',
  'US13932 US15963',
  'US13932,US15963',
  'US14059 US13715',
  'US1549\xa0',
  'US1552 US3869',
  'US1552, US3869',
  'US1554 US9981',
  'US1554\xa0US9981',
  'US1658 US2421',
  'US1659 US16110',
  'US1659 US1685',
  'US1659, US1685',
  'US1659\xa0',
  'US1685 US16110',
  'US1685 US1659',
  'US1688, US13715',
  'US1691\xa0US1692',
  'US1692 US2421',
  'US1693 US1694',
  'US1693\xa0',
  'US21681 US7928',
  'US2829 US2421',
  'US2973 US3021',
  'US2979,\xa0US3011,\xa0US3865',
  'US3015, US9994',
  'US3015\xa0US9994',
  'US3018 US3528',
  'US3021 US1685 US16110',
  'US3021\xa0  US9994',
  'US3022 US1549',
  'US3022 US1685 US16110',
  'US3869 US13044',
  'US3869, US13044',
  'US3869, US1659',
  'US3869, US19244',
  'US4694 US4695 US9789',
  'US4695\xa0',
  'US5397\xa0US2831',
  'US6136, US13044',
  'US6136, US13044, US19245',
  'US6136, US19245',
  'US7871 US1551 US1552',
  'US8650, US13044',
  'US8651 US9788',
  'US8651, US9788',
  'US9787, US6136',
  'US9787, US9789, US3869',
  'US9788 US8651'})

In [22]:
check_srs_has_test(trace, prd_prefix, srs_prefix)

(       SRS ID  Test Name
 0      TC1000          2
 1      TC1001          1
 2     TC10011          4
 3     TC10013         31
 4     TC10014         30
 ...       ...        ...
 2872    TC991          2
 2873    TC993          6
 2874    TC995          2
 2875    TC996          3
 2876   TC9995          1

 [2877 rows x 2 columns],
 Empty DataFrame
 Columns: [SRS ID, Test Name]
 Index: [])